<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>

<div id="js-page-top" class="page-top">
  <div class="menu-user">
    <% if user_signed_in? %>
      <%= link_to "#{current_user.name}さん", root_path, class: "menu-user-btn"%>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "menu-user-btn" %>
    <% else %> 
      <%= link_to 'ログイン', new_user_session_path, class: "menu-user-btn" %>
      <%= link_to '新規登録', new_user_registration_path, class: "menu-user-btn" %>
    <% end %> 
     <%= link_to 'アプリの名前', root_path, class: "gnav-link" %>
  </div>
</div>

</header>