<%= render "shared/header" %>

<div class="input-contents">
  <div class="input-main">
    <h2 class="input-title">詳細入力画面</h2>
     <%= form_with model: @appointment, url: appointment_path, local: true do |f| %>

        <%# render 'shared/error_messages', model: f.object %>


    <%# 社名と日 %>
    <div class="new-appt">
      <div class="weight-bold-text">
        社名
        <%= f.text_area :company, class:"appt_content", id:"content", placeholder:"株式会社〇〇" %>
      </div>
      <div class="weight-bold-text">
        約束日
        <%= f.date_field :appt_date, id:"content", class:"appt_content" %>
      </div>
      </div>
     
      
    
        <%# 追加情報 %>
   
      <div class="weight-bold-text">
        結論
        <%= f.collection_select(:result_id, Result.all, :id, :name, {}, {class:"appt_content", id:"item-category"}) %>
     
      
        チェック項目
         <select class="appt_content" name="[check_id]" >
       <option>チェックリストを選択してください</option>
         <% Check.all.each do |check| %>
            <option id="checklist" value=<%= check.id %>><%= check.title %></option>
          <% end %>
     </select>
      </div>
   
     <%# 追加情報 %>

       <%# 社名と日 %>
<table class='table-check'>
 <tr class='check-list-title'><th colspan="2"><%= @appointment.check.title%></th></tr>
  <tr class='check-list'><th><%="チェック項目" %></th><th><%="点数" %></th></tr>
  <tr><td><%= @appointment.check.item1%></td><td><%= f.text_area :ten, id:"content",class:"ten" %>点</td></tr>
  <tr><td><%= @appointment.check.item2%></td><td><%= f.text_area :ten, id:"content",class:"ten" %>点</td></tr>
  <tr><td><%= @appointment.check.item3%></td><td><%= f.text_area :ten, id:"content",class:"ten" %>点</td></tr>
  <tr><td><%= @appointment.check.item4%></td><td><%= f.text_area :ten, id:"content",class:"ten" %>点</td></tr>
  <tr><td><%= @appointment.check.item5%></td><td><%= f.text_area :ten, id:"content",class:"ten" %>点</td></tr>
  <tr><td><%= @appointment.check.item6%></td><td><%= f.text_area :ten, id:"content",class:"ten" %>点</td></tr>
  <tr><td><%= @appointment.check.item7%></td><td><%= f.text_area :ten, id:"content",class:"ten" %>点</td></tr>
  <tr><td><%= @appointment.check.item8%></td><td><%= f.text_area :ten, id:"content",class:"ten" %>点</td></tr>
  <tr><td><%= @appointment.check.item9%></td><td><%= f.text_area :ten, id:"content",class:"ten" %>点</td></tr>
  <tr><td><%= @appointment.check.item10%></td><td><%= f.text_area :ten, id:"content",class:"ten" %>点</td></tr>
  <tr><td><%= @appointment.check.item11%></td><td><%= f.text_area :ten, id:"content",class:"ten" %>点</td></tr>
  <tr><td><%= @appointment.check.item12%></td><td><%= f.text_area :ten, id:"content",class:"ten" %>点</td></tr>
  <tr><td><%= @appointment.check.item13%></td><td><%= f.text_area :ten, id:"content",class:"ten" %>点</td></tr>
  <tr><td><%= @appointment.check.item14%></td><td><%= f.text_area :ten, id:"content",class:"ten" %>点</td></tr>
  <tr><td><%= @appointment.check.item15%></td><td><%= f.text_area :ten, id:"content",class:"ten" %>点</td></tr>
  <tr><td><%= @appointment.check.item16%></td><td><%= f.text_area :ten, id:"content",class:"ten" %>点</td></tr>
  <tr><td><%= @appointment.check.item17%></td><td><%= f.text_area :ten, id:"content",class:"ten" %>点</td></tr>
  <tr><td><%= @appointment.check.item18%></td><td><%= f.text_area :ten, id:"content",class:"ten" %>点</td></tr>
  <tr><td><%= @appointment.check.item20%></td><td><%= f.text_area :ten, id:"content",class:"ten" %>点</td></tr>
</table>
<div class="weight-bold-text">
        点数
        <%= f.text_field :score, id:"content", class:"appt_content" %>点
      </div>
    <div class="input-btn-contents">
      <%= f.submit "更新", class:"appt-input-btn" %>
      <%=link_to 'もどる', new_appointment_path, class:"back-btn" %>
    </div>
  
    <% end %> 
</div>
  </div>
</div>

<%= render "shared/footer" %>
