<%= render "shared/header" %>

<div class="input-contents">
  <div class="input-main">
    <h2 class="input-title">詳細入力画面</h2>
     <%= form_with model: @appointment, url: appointment_path, local: true do |f| %>

        <%# render 'shared/error_messages', model: f.object %>


    <%# 社名と日 %>
    <div class="new-appt">
      <div class="weight-bold-text">
        社名
        <%= f.text_area :company, class:"appt_content", id:"content", placeholder:"株式会社〇〇" %>
      </div>
      <div class="weight-bold-text">
        約束日
        <%= f.date_field :appt_date, id:"content", class:"appt_content" %>
      </div>
     <div class="weight-bold-text">
        チェック項目
         <select name="[check_id]" >
       <option>チェックリストを選択してください</option>
         <% Check.all.each do |check| %>
            <option id="checklist" value=<%= check.id %>><%= check.title %></option>
          <% end %>
     </select>
      </div>
     </div>
    <%# 社名と日 %>

<%= @appointment.check.title%>
<%= @appointment.check.item1%>
<%= f.radio_button :gender, :male %>
<%= f.label :gender, "５点", {value: :male, style: "display: inline-block;"} %>
<%= f.radio_button :gender, :male %>
<%= f.label :gender, "４点", {value: :male, style: "display: inline-block;"} %>
<%= f.radio_button :gender, :male %>
<%= f.label :gender, "３点", {value: :male, style: "display: inline-block;"} %>
<%= f.radio_button :gender, :male %>
<%= f.label :gender, "２点", {value: :male, style: "display: inline-block;"} %>
<%= f.radio_button :gender, :male %>
<%= f.label :gender, "１点", {value: :male, style: "display: inline-block;"} %>
<%= f.radio_button :gender, :male %>
<%= f.label :gender, "０点", {value: :male, style: "display: inline-block;"} %>
<%= @appointment.check.item2%>
<%= f.radio_button :gender, :male %>
<%= f.label :gender, "５点", {value: :male, style: "display: inline-block;"} %>
<%= f.radio_button :gender, :male %>
<%= f.label :gender, "４点", {value: :male, style: "display: inline-block;"} %>
<%= f.radio_button :gender, :male %>
<%= f.label :gender, "３点", {value: :male, style: "display: inline-block;"} %>
<%= f.radio_button :gender, :male %>
<%= f.label :gender, "２点", {value: :male, style: "display: inline-block;"} %>
<%= f.radio_button :gender, :male %>
<%= f.label :gender, "１点", {value: :male, style: "display: inline-block;"} %>
<%= f.radio_button :gender, :male %>
<%= f.label :gender, "０点", {value: :male, style: "display: inline-block;"} %>


        <%# 追加情報 %>
   <div class="set-amount">
      <div class="weight-bold-text">
        結論
        <%= f.collection_select(:result_id, Result.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
      </div>
      <div class="weight-bold-text">
        点数
        <%= f.text_field :score, id:"content", class:"appt_content" %>
      </div>
    </div>
     <%# 追加情報 %>
    <div class="input-btn-contents">
      <%= f.submit "更新", class:"input-btn" %>
      <%=link_to 'もどる', new_appointment_path, class:"back-btn" %>
    </div>
    
    <% end %> 

  </div>
</div>

<%= render "shared/footer" %>
