<%= render "shared/header" %>
<div class="input-contents">
  <div class="input-main">
    <h2 class="input-title">アポイント情報を入力</h2>
    <%= form_with model: @appointment, url: appointments_path, local: true do |f| %>

    <%# <%= render 'shared/error_messages', model: f.object %>

    <%# テーマ名 %>
    <div class="new-appt">
      <div class="weight-bold-text">
        社名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :company, class:"items-text", id:"item-name", placeholder:"株式会社〇〇" %>
    </div>
    <div class="weight-bold-text">
          約束日
          <%= f.date_field :appt_date %>
        </div>
    <%# /テーマ名 %>

    <div class="input-btn-contents">
      <%= f.submit "登録する", class:"input-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
  </div>

  <% end %>
</div>

<%= render "shared/footer" %>