<div class="relative">
  <%= render "shared/header" %>

  <div class="appt-new">

    <div class="appt-input-contents">
      <div class="appt-input-main">
      <h2 class="appt-input-title">アポイント情報追加</h2>  
      <%= form_with model: @appointment, url: appointments_path, method: :post, id:"form" do |f| %>
      
        <div class="new-appt">
          <div class="weight-bold-text">
            社名<span class="indispensable">必須</span>
            <br><%= f.text_area :company, class:"appt_content", id:"content", placeholder:"株式会社〇〇" %>
          </div>
          <div class="weight-bold-text">
            約束日<span class="indispensable">必須</span>
            <br><%= f.date_field :appt_date, id:"content", class:"appt_content" %>
          </div>
          <div class="weight-bold-text">
            チェック項目<span class="indispensable">必須</span>
            <br><%= f.collection_select :check_id, Check.all, :id, :title , prompt: "選択してください", class:"appt_content"%>
          </div>

          <div class="input-btn-contents">
            <%= f.submit "登録", class:"appt-input-btn", id: "submit" %>
          </div>
        </div>
      <% end %> 
      </div>
    </div>

    <%# アポ一覧 %>
    <table class='table-lists' >
      <tr class="company-lists"><th colspan="6">個社リスト</th></tr>
      <tr class='company-list'>
        <th><%="約束日" %></th><th><%="社名" %></th><th><%="結論" %></th><th><%="点数" %></th><th><%="編集" %></th><th><%="削除" %></th>
      </tr>
      <% @appointment.each do |appointment| %>
      <tr class="list", id="list">
        <td><%= appointment.appt_date %></td>
        <td><%= appointment.company %></td>
        <td><%= appointment.result.name if appointment.result %></td>
        <td><%= appointment.score %>点</td>
        <td><%= link_to image_tag('pen.jpg', :size => '20x20' ), edit_appointment_path(appointment.id), class: "appt-red-btn" %></td>
        <td><%= link_to image_tag('gomi.jpg', :size => '20x20' ), appointment_path(appointment.id), method: :delete, class: "delete-btn"%>
        </td>
      </tr>
      <% end %>
    </table>
    <%# アポ一覧 %>
  </div>
  
  <%= render "shared/footer" %>
</div>